# OS & système
.DS_Store
Thumbs.db

# Logs
*.log

# Environnement
.env
.env.*
auth.json
phpunit.xml

# Dépendances
/vendor
/node_modules

# Compilations frontend (Vue, Vite, Laravel Mix)
/public/hot
/public/build
/public/storage
/vite.config.js
/vite.config.ts
/.vite
/.turbo
.eslintcache

# Laravel
/storage/*
!/storage/app
!/storage/app/public
!/storage/logs
/storage/*.key

# Laravel spécifiques
.phpunit.result.cache
.phpunit.cache
.phpactor.json
Homestead.json
Homestead.yaml

# IDEs
/.idea
/.vscode
/.fleet
/.zed

/.nova

/*.iml
*.sublime-project
*.sublime-workspace

composer.lock
npm-debug.log
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
